* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */



body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7%;
    font-weight: 700;
    font-size: 2.5rem;
}

.message-display {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(204, 193, 204);
    border-radius: 10px;
    height: 8%;
    width: 40%;
    margin: 0 auto;
}

.btn-container {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    height: 5%;
    margin: 1rem 0;
}

.btn-container button, .rematch-btn {
    background-color: orange;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    height: 2.75rem;
    width: 9rem;
    border-radius: 6px;
}

main {
    display: flex;
    height: 80%;
    position: relative;
}

.game-over-cont {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid orange;
    background-color: orange;
    color: white;
    padding: 3rem;
    border-radius: 12px;
    height: 300px;
    width: 300px;
    left: 42%;
    top: 10%;
}

.game-over-msg {
    font-size: 2rem;
    font-weight: 700;
}

.rematch-btn {
    background-color: white;
    color: orange;
}

.user-container, .comp-container {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
    border: 1px solid orange;
    border-radius: 12px;
    height: 700px;
    width: 47%;
    margin: 0 auto;
}

.title--cont {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
}

.user-ship-cont, .comp-ship-cont {
    border: 1px solid rgb(141, 141, 232);
    height: 90%;
    align-self: flex-end;
}

.user-gameboard, .comp-gameboard {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: .6fr 5fr;
    grid-template-rows: .6fr 5fr;
}

.comp-gameboard-col-label, .user-gameboard-col-label {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: flex-end;
    /* border: 1px solid green; */
}

.comp-gameboard-row-label, .user-gameboard-row-label {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tile-label {
    width: 50px;
    height: 50px;
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-tile-cont, .comp-tile-cont {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.user-tile, .comp-tile {
    border: 1px solid black;
    background-color: rgb(0, 179, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.miss-marker, .hit-marker {
    height: 50%;
    width: 50%;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
}

.hit-marker {
    background-color: red;
}

/* hide toggle class */
.hide {
    display: none;
}