* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables for styling */

:root {
    --red: #e63946;
    --off-white: #f1faee;
    --light-blue: #a8dadc;
    --blue: #457b9d;
    --dark-blue: #1d3557;
    --battleship-gray: #8f8f8f;
}

body {
    background-color: var(--off-white);
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.header {
    display: flex;
    background-color: var(--blue);
    color: white;
    justify-content: center;
    align-items: center;
    height: 7%;
    font-weight: 700;
    font-size: 2.5rem;
}

.message-display {
    font-weight: 700;
    color: var(--dark-blue);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 8%;
    width: 50%;
    text-align: center;
    padding: 1rem;
    margin: 1.5rem auto .5rem;
}

.btn-container {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    height: 5%;
    margin: .5rem 0;
}

.btn-container button, .rematch-btn {
    background-color: var(--dark-blue);
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    height: 2.75rem;
    width: 9rem;
    border-radius: 6px;
}

main {
    display: flex;
    height: 80%;
    position: relative;
}

.game-over-cont {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--red);
    background-color: var(--red);
    color: white;
    padding: 3rem;
    border-radius: 12px;
    height: 300px;
    width: 300px;
    left: 42%;
    top: 10%;
}

.game-over-msg {
    font-size: 2rem;
    font-weight: 700;
}

.rematch-btn {
    background-color: var(--dark-blue);
    color: white;
}

.user-container, .comp-container {
    color: var(--dark-blue);
    display: grid;
    grid-template-rows: .5fr 5fr;
    grid-template-columns: 1fr 5fr;
    border-radius: 12px;
    height: 700px;
    width: 47%;
    margin: 0 auto;
}

.title--cont {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
}

.user-ship-cont, .comp-ship-cont {
    font-weight: 700;
    color: var(--dark-blue);
    text-transform: uppercase;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    align-self: center;
}

.user-gameboard, .comp-gameboard {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: .6fr 5fr;
    grid-template-rows: .6fr 5fr;
}

.comp-gameboard-col-label, .user-gameboard-col-label {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: flex-end;
    /* border: 1px solid green; */
}

.comp-gameboard-row-label, .user-gameboard-row-label {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tile-label {
    color: var(--dark-blue);
    font-weight: 700;
    width: 50px;
    height: 50px;
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-tile-cont, .comp-tile-cont {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.user-tile, .comp-tile {
    border: 1px solid var(--dark-blue);
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.miss-marker, .hit-marker {
    height: 50%;
    width: 50%;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
}

.hit-marker {
    background-color: var(--red);
}

/* hide toggle class */
.hide {
    display: none;
}